site_name: River, Mona & Allen
theme:
  name: material
  custom_dir: overrides
  language: zh
  #logo: assets/logo.png
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    #- navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.top
    - navigation.indexes
    - navigation.path
    #- navigation.footer
    #- toc.integrate  //关闭右边大纲
    - toc.follow
    - search.suggest
    - search.highlight
    - search.share
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: teal
      accent: purple
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: brown
      accent: lime
  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16

# 右下角社交图标
extra:
#  social:
#    - icon: fontawesome/brands/github
#      link: https://github.com/river-li-tech
#    - icon: fontawesome/brands/linkedin
#      link: https://www.linkedin.cn/incareer/in/ACoAAC7H_k0BRTL_Fgr-ClbdGRxJzYPO0ckXwX0
  # 隐藏mkdocs-material信息
  generator: false  

# 版权信息
copyright: 2023.4.12 @ Beijing 

# 插件
plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - tags:
      tags_file: tags.md

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:materialx.emoji.to_svg
      emoji_index: !!python/name:materialx.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# blog
# 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
# 需要先升级为sponser，付费才可以

########################################################
nav:
  - Home: index.md
  - River:
    - river/index.md
    - 技能编辑器:
      - 简介: river/skill-editor/visual-skill-editor-page-01-home.md
      - 指令集: river/skill-editor/visual-skill-editor-page-02-instructions.md
      - 运行时: river/skill-editor/visual-skill-editor-page-03-runtime.md
      - 编辑器: river/skill-editor/visual-skill-editor-page-04-editor.md
  - Mona:
    - mona/index.md
    - 主题:
      - page1: mona/pages/page1.md
      - page2: mona/pages/page2.md
      - page3: mona/pages/page3.md
  - Allen:
    - allen/index.md
    - 信息学:
      - 2023暑假练习题: allen/noi/b01-2023-summer-exercises.md
      - 专题-二分查找: allen/noi/a01-topic-binary-search.md
      - 专题-进制转换: allen/noi/a02-topic-radix-exchange.md
      - 专题-前缀和: allen/noi/a03-topic-prefix-sum.md
      - 专题-枚举: allen/noi/a04-topic-enumeration.md
      - 专题-迭代: allen/noi/a05-topic-iteration.md
  - About:
    - Tags: tags.md
